<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset='UTF-8'>
    <title>Expense Tracker System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="Tracker-card">
        <h1> Welcome to the Expense Tracker</h1>
        <h2>Total Spent: &#8377;<span id="totalDisplay">0</span></h2>
        <div
            style="height: 16px;background-color: #e0e0e0;width:90%; margin:15px auto; border-radius: 8px; overflow: hidden;">
            <div id="progressBar"
                style="height: 100%; width:0%; background-color: #007bff; transition: width 0.4s ease, background-color 0.4s ease;">
            </div>
        </div>
        <p>Enter the fresh expense details below to note it down! or Pull data using the Refresh Button!</p>
        <input type="text" id="itemField" placeholder="Enter Item Name..." style="margin: 10px auto;
            padding: 12px;
            width: 90%;
            border-radius: 6px;
            border: 1px solid #ccc;
            ">

        <input type="number" id="amountField" placeholder="Enter Amount..." style="margin: 10px auto;
            padding: 12px;
            width: 90%;
            border-radius: 6px;
            border: 1px solid #ccc;
            ">

        <input type="text" id="categoryField" placeholder="Enter Category Name..." style="margin: 10px auto;
            padding: 12px;
            width: 90%;
            border-radius: 6px;
            border: 1px solid #ccc;
            ">

        <button onclick="AddExpenseToBackend()" style="
            margin: 10px;
            font-weight: bold;
            Border: none;
            padding: 12px 20px;
            background-color:#28a745;
            cursor: pointer;
            border-radius: 6px;
            color: white;
            ">Log Expense</button>

        <button onclick="LoadExpenseFromBackend()" style="
            margin: 10px;
            font-weight: bold;
            Border: none;
            padding: 12px 20px;
            background-color:#007bff;
            cursor: pointer;
            border-radius: 6px;
            color: white;
            ">Refresh History</button>

        <table id="expenseTable" style="
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 14px;
            text-align: Left;">

            <thead>
                <tr style="
                    background-color: #501fa3;
                    color: white;">
                    <th style="padding: 10px;border-radius:4px 0 0 4px;">ID</th>
                    <th style="padding: 10px;">Item Name</th>
                    <th style="padding: 10px;">Amount</th>
                    <th style="padding: 10px;">Category</th>
                    <th style="padding:10px; border-radius: 0 4px 4px 0; ">Action</th>
                </tr>
            </thead>
            <tbody id="expenseTableBody"></tbody>
        </table>
    </div>
    <script src="{{url_for('static', filename='js/tracker.js')}}"></script>
</body>

</html>